### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [35]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [117]:

df= purchase_data['SN'].nunique()
df = pd.DataFrame(
[df], 
index= [1],
columns=['Count of Players'])
df

The total number of players is...

   Count of Players
1               576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items= purchase_data['Item ID'].nunique()
average_Price= purchase_data['Price'].mean()
Total_purchases= purchase_data['Purchase ID'].count()
Revenue= purchase_data['Price'].sum()

unique_items
average_Price
Total_purchases 
Revenue

2379.77

In [62]:
df = pd.DataFrame(
[[unique_items, average_Price, Total_purchases,Revenue]],
index= [1],
columns=['Total Items','Average Price', 'Total Purchases','Revenue'])
rounded_df = df.round(decimals=2)
rounded_df

   Total Items  Average Price  Total Purchases  Revenue
1          179           3.05              780  2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [64]:
gender_breakdown= purchase_data.groupby(["Gender"])
test= gender_breakdown.nunique()

test['Percentage'] = 100*test['Purchase ID']/test['Purchase ID'].sum()
test= test[["Purchase ID","Percentage"]]
test= test.round(decimals=2)

test

                       Purchase ID  Percentage
Gender
Female                         113       14.49
Male                           652       83.59
Other / Non-Disclosed           15        1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [69]:
gender_breakdown= purchase_data.groupby(["Gender"])
gender_breakdown= gender_breakdown.mean()

In [70]:
Countofid= purchase_data.groupby(["Gender"])
Countofid= Countofid.count()

In [72]:
mergetable= pd.merge(gender_breakdown,Countofid,on="Gender")
mergetable= mergetable[["Price_x","Purchase ID_y"]]
mergetable= mergetable.rename(columns={"Price_x": "Average Price", "Purchase ID_y": "Number of Purchases"})
test= test.round(decimals=2)
mergetable= mergetable.round(decimals=2)
mergetable

                       Average Price  Number of Purchases
Gender
Female                          3.20                  113
Male                            3.02                  652
Other / Non-Disclosed           3.35                   15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [82]:
bins=[0,10,15,20,25,30,35,40,100]

In [83]:
group_names= ['U10','10-14','15-19','20-24','25-29','30-34','35-39','40']

In [84]:
df_age= purchase_data
df_age['Age Bracket']= pd.cut(purchase_data.Age,bins,labels=group_names)

In [85]:
age= df_age.groupby(["Age Bracket"])
age= age.mean()

In [86]:
df_ave= df_age.groupby(["Age Bracket"])
df_ave= df_ave.count()

In [89]:
df2= pd.merge(df_ave, age, on="Age Bracket")
df2= df2[["Purchase ID_x","Price_y"]]

df2['Percentage'] = 100*df2['Purchase ID_x']/df2['Purchase ID_x'].sum()
df2= df2.rename(columns={"Price_y": "Average Price", "Purchase ID_x": "Number of Purchases"})
df2= df2.round(decimals=2)
df2

             Number of Purchases  Average Price  Percentage
Age Bracket
U10                           32           3.40        4.10
10-14                         54           2.90        6.92
15-19                        200           3.11       25.64
20-24                        325           3.02       41.67
25-29                         77           2.88        9.87
30-34                         52           2.99        6.67
35-39                         33           3.40        4.23
40                             7           3.08        0.90

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [90]:
df2

             Number of Purchases  Average Price  Percentage
Age Bracket
U10                           32           3.40        4.10
10-14                         54           2.90        6.92
15-19                        200           3.11       25.64
20-24                        325           3.02       41.67
25-29                         77           2.88        9.87
30-34                         52           2.99        6.67
35-39                         33           3.40        4.23
40                             7           3.08        0.90

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
purchasecount= purchase_data.groupby(["SN"])
purchasecount= purchasecount.count()

In [96]:
priceave= purchase_data.groupby(["SN"])
priceave= priceave.mean()
merge= pd.merge(priceave,purchasecount,on="SN")
merge= merge[["Price_x","Purchase ID_y"]]
merge= merge.sort_values(["Purchase ID_y"],ascending= False)
merge= merge.rename(columns={"Price_x": "Average Price", "Purchase ID_y": "Number of Purchases"})
merge= merge.round(decimals=2)
merge.head()

             Average Price  Number of Purchases
SN
Lisosia93             3.79                    5
Iral74                3.40                    4
Idastidru52           3.86                    4
Asur53                2.48                    3
Inguron55             3.70                    3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [112]:
total= purchase_data.groupby(["Item Name"])
total= total.count()
purchase= purchase_data.groupby(["Item Name"])
purchase= purchase.mean()

In [113]:
sumtable= pd.merge(total,purchase,on="Item Name")
sumtable=sumtable[["Price_y","Purchase ID_x"]]
sumtable['Total']= sumtable["Price_y"]*sumtable["Purchase ID_x"]
sumtable= sumtable.sort_values(["Purchase ID_x"],ascending= True)
sumtable= sumtable.round(decimals=2)
sumtable= sumtable.rename(columns={"Price_y": "Average Price", "Purchase ID_x": "Number of Purchases"})

sumtable

,Average Price,Number of Purchases,Total
Item Name,,,
Exiled Mithril Longsword,2.00,1,2.00
The Decapitator,1.75,1,1.75
Gladiator's Glaive,1.93,1,1.93
"Ghost Reaver, Longsword of Magic",2.17,1,2.17
"Alpha, Reach of Ending Hope",3.58,1,3.58
...,...,...,...
Fiery Glass Crusader,4.58,9,41.22
Persuasion,3.22,9,28.99
Nirvana,4.90,9,44.10
"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
Final Critic,4.61,13,59.99

## Most Profitable Items

In [115]:
byprice= sumtable.sort_values(["Total"],ascending= False)
byprice

,Average Price,Number of Purchases,Total
Item Name,,,
Final Critic,4.61,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
Nirvana,4.90,9,44.10
Fiery Glass Crusader,4.58,9,41.22
Singed Scalpel,4.35,8,34.80
...,...,...,...
"Flux, Destroyer of Due Diligence",1.06,2,2.12
Whistling Mithril Warblade,1.00,2,2.00
Exiled Mithril Longsword,2.00,1,2.00
Gladiator's Glaive,1.93,1,1.93
The Decapitator,1.75,1,1.75

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#Three Observable Trends in the Data
#1. Men make up the majority of the customer base with 83%
#2. The largest age bracket of consumers is between 15 and 24.
#3. There is a sharp fall in purchasing of consumers between the age brackets of 25-29. 
# It is a 131% decrease from the age brackets of 20-24 to 25-29.